@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: 'SAIRA EXTRA CONDENSED';
  font-size: 40px;
  color: rgb(37, 37, 37);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.recipe-List {
  display: flex;
  justify-content: center;
  text-align: center;
}

.links {
  color: rgb(58, 58, 58);
  border-bottom: none !important;
  cursor: pointer;
}

.links:hover {
  color: rgb(118, 118, 118);
}

.links:active {
  color: rgb(255, 255, 255);
}

.recipe-key {
  background: rgba(255, 255, 255, 0.33);
  margin-top: 15px;
  margin-bottom: 15px;
}

.recipe-Name {
  margin-top: 8px;
  margin-bottom: 8px;
}
