@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
* {
  font-family: "Saira Extra Condensed", sans-serif;
}

.contentContainer {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 140px;
  bottom: 0px;
}

.uploadRecipe {
  text-decoration: underline;
  color: rgb(37, 37, 37) !important;
  text-align: center;
  font-size: 28px;
  text-align: center !important;
  align-self: center !important;
}

.uploadRecipe:hover {
  color: rgb(78, 78, 78) !important;
  border-bottom: none !important;
}

.uploadRecipe:active {
  color: rgb(128, 128, 128) !important;
  border-bottom: none !important;
}
.uploadRecipe:focus {
  color: rgb(37, 37, 37) !important;
  border-bottom: none !important;
}

.uploadContainer {
  text-align: center;
}
.mainContainer {
  position: absolute;
  bottom: 0px;
  top: 12vh;
  left: 50px;
  right: 50px;
}

.containSearch {
  width: 100%;
}

.spatulaContainer {
  position: absolute;
  display: flex;
  right: 0px;
  top: 0px;
  width: 60%;
  bottom: 0px;
  overflow-x: hidden;
  z-index: -100;
  max-height: 720px;
}
.spatula {
  position: absolute;
  object-fit: contain;
  right: 0px;
  height: 100%;
  opacity: 0.3;
}

.searchIcon {
  height: 25px;
  width: 25px;
  border-bottom: none !important;
}

.searchIcon:hover {
  border-bottom: none !important;
  opacity: 0.5 !important;
}

.searchIcon:focus {
  border-bottom: none !important;
}

.searchContainer {
  display: flex;
  position: relative;
  width: 55%;
  left: 22.5%;
  height: 60px;
  align-items: center;
}

.searchBox {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
  text-align: center;
}

.navLink {
  border-bottom: none !important;
  pointer-events: none;
}

.navLinkActive {
  border-bottom: none !important;
  pointer-events: all;
}

.searchButton {
  position: absolute;
  border: none;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 50px;
  z-index: 100;
  background-color: transparent;
  border-bottom: none !important;
}

.searchButton:hover {
  border-bottom: none !important;
}

.searchButton:focus {
  border-bottom: none !important;
}

@media screen and (max-width: 1024px) {
  .searchContainer {
    width: 80%;
    left: 10%;
  }
  .mainContainer {
    top: 20vh;
  }
}

@media screen and (max-width: 600px) {
  .spatula {
    position: relative;
    object-fit: contain;
    right: 0px !important;
    height: 100%;
  }
  .mainContainer {
    top: 10vh !important;
    left: 0px !important;
    right: 0px !important;
  }
  .searchContainer {
    width: 96% !important;
    left: 2% !important;
  }
}
@media screen and (max-width: 768px) {
  .searchContainer {
    width: 75%;
    left: 12.5%;
  }
  .mainContainer {
    top: 20vh;
  }
}

@media screen and (max-width: 880px) {
  .spatula {
    left: 50px;
    right: auto;
  }
}

.errorMessage {
  position: absolute;
  top: 40%;
  left: 5%;
  right: 5%;
  font-family: "Saira Extra Condensed", sans-serif;
  color: rgb(58, 58, 58);
  font-weight: bold;
  font-size: 3.4vw;
}
